<div id="form-container">
    <form action="/form" method="POST">
        <label for="postImage">Post Image (optional): </label>
        <input type="file" id="postImage" name="postImage"><br>
        <label for="postBody">Post Body:</label><br>
        <textarea id="postBody" name="postBody" rows="20" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>