<%- include('partials/header'); %>

<% posts.forEach((post) => { %>
    <div id="form-container">
        <form action="/edit/<%=post.id%>" enctype="multipart/form-data" method="POST">
            <label for="postBody">Post Body:</label><br>
            <textarea id="postBody" name="postBody" rows="20" cols="50"><%= post.postText %></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
<% }) %>

<%- include('partials/footer'); %>